<!DOCTYPE html>
<html lang="en">
{# TODO change language #}
<head>
    <meta charset="UTF-8">
    <title>{{ title or 'Newmerology' }}</title>
</head>
<body>
{% block page_body %}
{% endblock %}
</body>
</html>