{% extends 'calculator/base.djt' %}
{% load i18n%}
{% load tranz %}
{% block page_body %}
    {{ super }}

    <h2>
        <span class="last_name">
            {{ object.last_name|upper }}
        </span>

        <span class="given_names">
            {{ object.given_names|title }}
        </span>

        <span class="birth">
            {{ object.birth|date:"SHORT_DATE_FORMAT" }}
        </span>
    </h2>

    {% for number in object.numbers %}
        <div class="number-wrapper card-panel purple darken-4 hoverable">
            <h3 class="number-name">
                <label class="browser-default" for="example-{{ number.code }}">
                    {{ number.name }}
                </label>

                <span class="number-circle" >
                    {{ number.value }}
                </span>
            </h3>

            <input type="checkbox" id="example-{{ number.code }}" class="toggle-example"/>
            <ul class="example-wrapper">
                {% for detail in number.example %}
                    <li class="example">{{ detail }}</li>
                {% endfor %}
            </ul>

            <p class="number-description">{{ number.description }}</p>

            <div class="explanations purple lighten-5">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                        <a href="#tab-{{ number.code }}-1" class="{% if number.result.explanation %}active{% endif %}">
                            {% tranz "results.explanation.personal" %}
                        </a>
                    </li>

                    <li class="tab">
                        <a href="#tab-{{ number.code }}-2" class="{% if not number.result.explanation %}active{% endif %}">
                            {% tranz "results.explanation.general" %}
                        </a>
                    </li>
                </ul>

                <p id="tab-{{ number.code }}-1" class="editable"
                  data-target="mod-res-{{ number.result.id }}">
                    {{ number.result.explanation }}
                </p>

                <p id="tab-{{ number.code }}-2" class="editable"
                   data-target="mod-tpl-{{ number.template.id }}">
                    {{ number.template.explanation }}
                </p>

                {# TODO: Move this into a macro #}
                <!-- Modal for result editing -->
                <div id="mod-res-{{ number.result.id }}" class="modal">
                    <div class="modal-content">
                        <h4>{% tranz "results.explanation.edit_personal" %}</h4>

                        <p contenteditable="true">
                            {{ number.result.explanation }}
                        </p>
                    </div>

                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect btn-flat">
                            {% tranz "actions.ok" %}
                        </a>

                        <a href="#!" class="modal-action modal-close waves-effect btn-flat">
                            {% tranz "actions.close" %}
                        </a>

                        <a href="#!" class="modal-action modal-close waves-effect btn-flat">
                            {% tranz "actions.cancel" %}
                        </a>
                    </div>
                </div>

                <!-- Modal for template editing -->
                <div id="mod-tpl-{{ number.template.id }}" class="modal">
                    <div class="modal-content">
                        <h4>{% tranz "results.explanation.edit_general" %}</h4>

                        <p contenteditable="true">
                            {{ number.template.explanation }}
                        </p>
                    </div>

                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect btn-flat">
                            {% tranz "actions.ok" %}
                        </a>

                        <a href="#!" class="modal-action modal-close waves-effect btn-flat">
                            {% tranz "actions.close" %}
                        </a>

                        <a href="#!" class="modal-action modal-close waves-effect btn-flat">
                            {% tranz "actions.cancel" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}