h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

p {
  font-size: 1.168rem;
  margin: 0; }

.tabs .tab a {
  font-size: 1.168rem; }

header {
  height: 122px;
  margin-bottom: 3em; }
  header h1 {
    width: 100%; }
    header h1 a, header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:focus, header h1 a:active {
      color: inherit; }

form {
  /* label focus color */
  /* label underline focus color */ }
  form .help-block {
    line-height: 12px;
    position: relative;
    top: -10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 75%; }
  form .input-field input[type=text]:focus + label {
    color: #4a148c !important; }
  form .input-field input[type=text]:focus {
    border-bottom: 1px solid #4a148c !important;
    box-shadow: 0 1px 0 0 #4a148c !important; }
  form select:focus {
    outline: #f3e5f5; }
  form .picker__day--selected,
  form .picker__day--selected:hover,
  form .picker--focused .picker__day--selected,
  form .picker__date-display {
    background-color: #4a148c; }
  form .picker__day.picker__day--today, form .picker__close, form .picker__today {
    color: #4a148c; }
  form .picker__nav--prev:hover, form .picker__nav--next:hover {
    background-color: #f3e5f5; }
  form .picker__select--month:focus, form .picker__select--year:focus {
    border-color: #f3e5f5; }
  form .picker__weekday-display {
    background-color: #380d6b; }
  form .submit-form {
    float: right; }
    form .submit-form::after {
      clear: both; }

.number-circle {
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 5px;
  border: 2px solid transparent;
  text-align: center;
  font-size: 32px; }

.grid {
  width: auto; }
  .grid table, .grid tr, .grid td, .grid th {
    border: 0 solid;
    color: #f3e5f5; }
  .grid tr:not(:last-of-type) {
    border-bottom-width: 1px; }
  .grid td, .grid th {
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 200; }
    .grid td:not(:last-of-type), .grid th:not(:last-of-type) {
      border-right-width: 1px; }
  .grid .current {
    font-weight: 400; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid; }

.timeline {
  position: relative;
  text-align: center; }
  .timeline .horizontal-line {
    border: 1px solid;
    width: 100%; }
  .timeline .arrow-right {
    position: absolute;
    right: -1px;
    bottom: 0;
    transform: translateY(50%); }
  .timeline .line-section {
    border-left: 1px solid;
    position: absolute;
    height: 20px;
    left: 0;
    bottom: -10px; }
  .timeline .bottom-text {
    position: relative;
    top: 20px;
    left: -50%;
    font-size: 18px;
    font-weight: 300; }
  .timeline .top-text {
    position: relative;
    top: -55px;
    font-size: 26px;
    font-weight: 200; }
  .timeline .current {
    font-weight: 400; }
  .timeline .now {
    border: 5px solid #EDDE32;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    transform: translateY(-50%); }

h2 {
  text-align: center; }

.number-wrapper .number-name, .number-wrapper .example-wrapper, .number-wrapper .number-description {
  color: #f3e5f5; }

.number-wrapper .number-name {
  position: relative; }
  .number-wrapper .number-name label {
    cursor: pointer;
    font-size: inherit;
    color: inherit; }

.number-wrapper .toggle-example {
  display: none; }

.number-wrapper .example-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height linear 250ms;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  top: -0.92rem; }
  .number-wrapper .example-wrapper li {
    font-family: monospace;
    list-style: none; }

.number-wrapper .toggle-example:checked + .example-wrapper {
  max-height: 4rem;
  transition: max-height ease 400ms; }

.number-wrapper .number-description {
  font-style: italic;
  font-size: 1.24rem; }

.number-wrapper .value {
  margin-top: 1.46rem; }
  .number-wrapper .value > * {
    float: right; }
  .number-wrapper .value .number-circle {
    position: relative;
    top: -8px;
    color: #f3e5f5;
    border-color: #f3e5f5; }
  .number-wrapper .value .grid {
    position: relative;
    top: -1.168rem; }
  .number-wrapper .value .timeline {
    float: none;
    margin-top: 1rem;
    margin-bottom: 2.68rem;
    color: #f3e5f5; }

.number-wrapper .explanations {
  margin-top: 0.46rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }
  .number-wrapper .explanations .tabs a {
    color: #4a148c; }
    .number-wrapper .explanations .tabs a:hover, .number-wrapper .explanations .tabs a:active {
      color: #7b1fa2; }
  .number-wrapper .explanations .indicator {
    background: #4a148c; }
  .number-wrapper .explanations .editable {
    padding: .5rem; }
    .number-wrapper .explanations .editable .raw {
      display: none; }
  .number-wrapper .explanations .explanation h1, .number-wrapper .explanations .explanation h2, .number-wrapper .explanations .explanation h3, .number-wrapper .explanations .explanation h4, .number-wrapper .explanations .explanation h5, .number-wrapper .explanations .explanation h6 {
    text-align: start; }
  .number-wrapper .explanations .explanation h1 {
    font-size: 3.1rem;
    margin: 1.55rem 0 1.25rem 0; }
  .number-wrapper .explanations .explanation h2 {
    font-size: 2.68rem;
    margin: 1.34rem 0 1.08rem 0; }
  .number-wrapper .explanations .explanation h3 {
    font-size: 2.26rem;
    margin: 1.13rem 0 0.91rem 0; }
  .number-wrapper .explanations .explanation h4 {
    font-size: 1.84rem;
    margin: 0.92rem 0 0.74rem 0; }
  .number-wrapper .explanations .explanation h5 {
    font-size: 1.42rem;
    margin: 0.71rem 0 0.57rem 0; }
  .number-wrapper .explanations .explanation h6 {
    font-size: 1.0rem;
    margin: 0.5rem 0 0.4rem 0; }
  .number-wrapper .explanations .explanation ul, .number-wrapper .explanations .explanation ol {
    padding-left: 2.26rem; }
  .number-wrapper .explanations .explanation ul, .number-wrapper .explanations .explanation ul > li {
    list-style-type: disc; }
  .number-wrapper .explanations .explanation ol, .number-wrapper .explanations .explanation ol > li {
    list-style-type: decimal; }

.result-wrapper {
  padding: 3px 10px; }

.modal textarea {
  border: 1px solid lightgrey;
  resize: vertical;
  min-height: 30vh; }
  .modal textarea:focus {
    outline: none;
    box-shadow: inset 0 0 3px -2px black; }

.modal .modal-footer button.btn {
  margin-left: .1rem;
  margin-right: .1rem; }

.modal-trigger {
  cursor: pointer; }

@media (max-width: 1199px) {
  h2 .last_name, h2 .given_names, h2 .birth {
    display: block;
    text-align: center; }
  .number-wrapper .header {
    text-align: center; }
  .number-wrapper .value {
    text-align: center; }
    .number-wrapper .value > * {
      float: none;
      margin: 0 auto; } }

@media (min-width: 1200px) {
  .number-wrapper .header {
    margin-bottom: 0; } }

.picker__header select {
  position: inherit;
  height: 2em;
  opacity: inherit;
  pointer-events: auto; }

/*# sourceMappingURL=../../../../../../../../static/css/design.css.map */