$card-color: #4a148c;
$card-color-text: #f3e5f5;

// -- General design
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p {
  font-size: 1.15rem;
  margin: 0;
}

.tabs .tab a {
  font-size: 1.1rem;
}

// -- End of general design

header {
  height: 122px;
  margin-bottom: 3em;

  h1 {
    width: 100%;
  }
}

// -- Form
form {
  .help-block {
    line-height: 12px;
    position: relative;
    top: -10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 75%;
  }

  /* label focus color */
    .input-field input[type=text]:focus + label {
    color: $card-color;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid $card-color;
    box-shadow: 0 1px 0 0 $card-color;
  }

  select:focus {
    outline: $card-color-text;
  }

  .picker__day--selected,
  .picker__day--selected:hover,
  .picker--focused .picker__day--selected,
  .picker__date-display  {
    background-color: $card-color;
  }

  .picker__day.picker__day--today, .picker__close, .picker__today {
    color: $card-color;
  }

  .picker__nav--prev:hover, .picker__nav--next:hover {
    background-color: $card-color-text;
  }

  .picker__select--month:focus, .picker__select--year:focus {
    border-color: $card-color-text;
  }

  .picker__weekday-display {
    background-color: #380d6b;
  }

  .submit-form {
    float: right;

    &::after {
      clear: both;
    }
  }
}


// -- Number in a circle
.number-circle {
  border-radius: 50%;
  display: inline-block;

  width: 60px;
  height: 60px;
  padding: 5px;

  border: 2px solid transparent;
  text-align: center;
  font-size: 32px;  // font-size of h2 - 1
}

h2 {
  text-align: center;
}

.number-wrapper {
  .number-name, .example-wrapper, .number-description {
    color: $card-color-text;
  }
  //color: $color-on-card;

  .number-name {
    position: relative;

    label {
      cursor: pointer;

      // Counteract materialize here
      font-size: inherit;
      color: inherit;
    }
  }

  // -- Example
  .toggle-example {
    display: none;
  }

  .example-wrapper {
    //display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height linear 250ms;

    margin: 0;
    padding: 0;
    position: relative;
    top: -1.1rem;

    li {
      font-family: monospace;
      list-style: none;
    }
  }

  .toggle-example:checked + .example-wrapper {
    //display: block;
    max-height: 4rem;
    transition: max-height ease 400ms;
  }

  // -- Description
  .number-description {
    font-style: italic;
    font-size: 1.24rem;
  }

  .number-circle {
    position: absolute;
    right: 0;
    bottom: -8px; // Computed from the font-size
    color: $card-color-text;
    border-color: $card-color-text;
  }

  .explanations {
    margin-top: 0.46rem;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    .tabs a {
      color: $card-color;

      &:hover, &:active {
        color: #7b1fa2;
      }
    }

    .indicator {
      background: $card-color;
    }

    p {
      padding: .5rem;
    }
  }
}

.result-wrapper {
  padding: 3px 10px;
}

// -- Modal
.modal {
  p[contenteditable] {
    border: 1px solid lightgrey;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 3px -2px black;
    }
  }

  .modal-footer {
    button.btn {
      margin-left: .1rem;
      margin-right: .1rem;
    }
  }
}


// -- Responsive
@media (max-width: 1199px) {
  h2 {
    .last_name, .given_names, .birth {
      display: block;
      text-align: center;
    }
  }
}